body {

  margin: 0px;
  font-family: 'Oswald', sans-serif;
  background-image: url(https://previews.123rf.com/images/serhiibrovko/serhiibrovko1710/serhiibrovko171000023/87339874-zampa-zampa-senza-soluzione-di-continuit%C3%A0-di-gatto-e-gatto-impronta-senza-soluzione-di-continuit%C3%A0-il.jpg);
  
}
/*header*/

/*navigation bar*/
nav {
  background-color: rgb(189, 187, 187);
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  #menu {
    margin-right: 20px;
  }
  #menu a {
    margin: 10px;
    font-size: 0.8em;
  }
}
nav a {
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  background-color: white;
  margin: 0 20px;
  text-decoration: none;
  color: rgb(35, 104, 233);
}

nav a:hover {
  color: blueviolet;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 66.67%;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
h4{
  margin-top: 0px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 66.67%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.logoimg {
  width: 140px;
  height: 100px;
}

.comp {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

form {
  margin-top: 40px;
  width: 300px;
  background-color: lightgrey;
  padding: 5px;
  border: 3px solid black;
}

#name {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#surname {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view{
  width: 250px;
  height: 80px;
  background-color: lightgrey;
  border: 3px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.view div{
  text-align: center;
}

.hidden{
  display: none;
}